<html lang='pl'>
<head>
    <title>Przypomnij hasło</title>
    <meta content="width=device-width, user-scalable=no,
	initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="../static/css/login.css" rel="stylesheet"/>
    <link href="../static/css/home.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="../static/fonts/css/fontello.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">
    <section>
        <div id="messsage">{{ message }}</div>
        <div id="login_form">
            <form action="/forgot" method="POST">
                <h1>Podaj email, na który mamy wysłać reset hasła</h1>
                <div><p>Email:</p>
                    <input id="email" max="35" min="6" name="email" required type="email"/></div>
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                {{ form.recaptcha }}
                <input type="submit" value="Wyślij">

            </form>
        </div>
    </section>
    <script type="text/javascript">
    </script>
</div>
{% include "footer.html" %}
</body>
</html>
