<html lang='pl'>
<head>
    <meta content="width=device-width, user-scalable=no,
	initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="../static/css/home.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="../static/fonts/css/fontello.css" rel="stylesheet" type="text/css"/>
    <title>Zaloguj</title>
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">
    <section>
        <div id="login_form">
            <form action="/login" method="POST">
                <h1>Zaloguj się</h1>
                <div><p>Nazwa Użytkownika</p><input id="username" name="username" required type="text""/>
                    <p class="hidden">--</p></div>
                <div><p>Hasło</p><input id="password" name="password" required type="password"/>
                    <p class="hidden">--</p></div>
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                <input name="previous" type="hidden" value="{{ previous }}"/>
                {{ form.recaptcha }}
                <input type="submit" value="Zaloguj">
            </form>
            <a href="/forgot">Zapomiałeś hasła?</a>
        </div>
    </section>
    <script type="text/javascript">
    </script>
</div>
{% include "footer.html" %}
</body>
</html>
