<html lang='pl'>
<head>
    <title>Zresetuj hasło</title>
    <meta content="width=device-width, user-scalable=no,
	initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link href="../static/css/home.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="../static/fonts/css/fontello.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{% include 'header.html' %}
<div id="wrapper">
    <section>
        <div id="messsage">{{ message }}</div>
        <div id="login_form">
            <form action="/reset" method="POST">
                <h1>Wprowadź nowe hasło</h1>
                <div class="autocomplete" style="width: 400px;">
                    <p>Hasło</p>
                    <input id="password_input" max="35" min="6" name="password" required type="password"/>
                    <p class="hidden">--</p>
                </div>
                <div class="autocomplete" style="width: 400px;">
                    <p>Potwierdź Hasło</p>
                    <input id="confirm_input" max="35" min="6" name="confirm" required type="password"/>
                    <p class="hidden">--</p>
                </div>
                <input name="reset_token" type="hidden" value="{{ reset_token }}"/>
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                {{ form.recaptcha }}
                <button type="submit">Zmień</button>
            </form>
        </div>
    </section>
    <script>
  $('#confirm_input').on('blur', () => {
    if ($('#confirm_input').val() != $('#password_input').val()){
        $('#confirm_error').css('visibility', 'visible');
        $('form').onsubmit = function() {
          return false;
        }
    }
    else{
        $('#confirm_error').css('visibility', 'hidden');
        $('form').onsubmit = function() {
          return true;
        }
    }
  });
    </script>
</div>
{% include "footer.html" %}
</body>
</html>
